<div class="about-container">
  <h2>Despre noi...</h2>
  <p>{{ AboutResource.asiiGeneral }}</p>
  <p>{{ AboutResource.asiiAboutMembers }}</p>
  <p>Fiecare membru ASII susține şi promovează aceleaşi valori:</p>
  <div class="values-container">
    <div class="row">
      <div class="column">
        <mat-card class="values-card">
          <img
            mat-card-image
            src="assets/assets_about/feature-1.png"
            alt="Implicare"
          />
          <mat-card-title>Implicare</mat-card-title>
          <mat-card-content>
            <span>Căutăm sa găsim soluţii la problemele din jurul nostru</span>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="column">
        <mat-card class="values-card">
          <img
            mat-card-image
            src="assets/assets_about/feature-2.png"
            alt="Perfectionare"
          />
          <mat-card-title>Perfectionare continua</mat-card-title>
          <mat-card-content>
            <span
              >Vrem sa învățăm în permanență lucruri noi în cadrul
              training-urilor, proiectelor și numeroaselor activități din cadrul
              asociației</span
            >
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-card class="values-card">
          <img
            mat-card-image
            src="assets/assets_about/feature-3.png"
            alt="Dezvoltare"
          />
          <mat-card-title>Dezvoltare personala</mat-card-title>
          <mat-card-content>
            <span
              >Găsim moduri de a duce la bun sfarşit proiectele noastre</span
            >
          </mat-card-content>
        </mat-card>
      </div>
      <div class="column">
        <mat-card class="values-card">
          <img
            mat-card-image
            src="assets/assets_about/feature-4.png"
            alt="Prietenie"
          />
          <mat-card-title>Prietenie</mat-card-title>
          <mat-card-content>
            <span
              >Ne împrietenim, ne jucăm, ne distrăm și facem treaba ca la
              carte!</span
            >
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-card class="values-card">
          <img
            mat-card-image
            src="assets/assets_about/feature-5.png"
            alt="Organizare"
          />
          <mat-card-title>Organizare</mat-card-title>
          <mat-card-content>
            <span
              >Vrem să dobândim aptitudini noi și să le oferim mai departe
              membrilor noi</span
            >
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="question">
  <h3>Eşti curios din cine este alcătuită A.S.I.I. ?</h3>
  <button mat-stroked-button class="view-button" (click)="redirectToLink('asii-members')">Vezi membrii ASII</button>
  <p>
    Regulamentul ASII poate fi gasit
    <a href="https://asii.ro/roiASII.pdf" target="_blank">aici.</a>
  </p>
</div>
