.header-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  transition: background-color 0.5s;
  border-radius: 0 0 5px 5px;

  img {
    margin: 10px;
    width: 70px;
    height: 40px;
    margin-bottom: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .link-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40%;

    a {
      margin: 0 auto;
      font-weight: normal;
      font-size: 25px;
      text-decoration: 0;
      color: white;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.scrolled {
  background-color: rgb(243, 243, 243);
  box-shadow: 0px 2px 30px 1px gray;

  .link-container {
    a {
      color: black;
    }
  }
}
