.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.59);
    font-weight: 600;
    justify-content: center;
    text-align: center;
    
    .link-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      width: 40%;
        img {
            margin: 0 auto;
            width: 80px;
        }
        a {
            margin: 0 auto;
            font-weight: normal;
            font-size: 14px;
            text-decoration: 0;
            color: black;
        }
    }
}