.imagine {
    width: 100%;
    background-image:url('/assets/img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: auto;
    margin-right: 9em;
    .asii {
        color: #E50D0E;
        font-size: 1.6rem;
        font: Arial;
        margin-bottom: 1.5em;
    }
    .motto {
        color: #6D6E71;
        font-size: 2.4rem;
        margin-bottom: 2em;
        font: Arial;
    }
}
