<div class="departments-container">
    <div class="row">
        <div class="column">
            <mat-card class="department-card">
                <img class="it-image" mat-card-image src="assets/department/IT.svg" alt="Implicare">
                <mat-card-title>Departamentul IT</mat-card-title>
            </mat-card>
        </div>
        <div class="column">
            <mat-card class="department-card">
                <img class="ev-image" mat-card-image src="assets/department/Evaluari.svg" alt="Departamentul Evaluari">
                <mat-card-title>Departamentul Evaluari</mat-card-title>
            </mat-card>
        </div>
        <div class="column">
            <mat-card class="department-card">
                <img class="prm-image" mat-card-image src="assets/department/PR&media.svg" alt="Departamentul PR&Media">
                <mat-card-title>Departamentul PR&Media</mat-card-title>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <mat-card class="department-card">
                <img class="pro-image" mat-card-image src="assets/department/Proiecte.svg" alt="Departamentul Proiect">
                <mat-card-title>Departamentul Proiect</mat-card-title>
            </mat-card>
        </div>
        <div class="column">
            <mat-card class="department-card">
                <img class="re-image" mat-card-image src="assets/department/Relatii_Externe.svg" alt="Departamentul Relatii Externe">
                <mat-card-title>Departamentul Relatii Externe</mat-card-title>
            </mat-card>
        </div>
        <div class="column">
            <mat-card class="department-card">
                <img class="ri-image" mat-card-image src="assets/department/Relatii_Interne.svg" alt="Departamentul Relatii Interne">
                <mat-card-title>Departamentul Relatii Interne</mat-card-title>
            </mat-card>
        </div>
    </div>
</div>