<mat-card class="member-card">
    <mat-card-header>
        <div mat-card-avatar class="member-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="/assets/images/photo-member.jpg" alt="photo">
    <mat-card-content>
        <h2 class="name-member">Nume Prenume</h2>
        <h3 class="title-member">Funcție</h3>
    </mat-card-content>
    <mat-card-actions class ="social-media-container">
        <a href="https://www.facebook.com/"><button mat-button class="btn facebook-btn"></button></a>
        <a href="https://www.instagram.com/"><button mat-button class="btn instagram-btn"></button></a>
        <a href="https://www.linkedin.com/"><button mat-button class="btn linkedin-btn"></button></a>
    </mat-card-actions>
</mat-card>